<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tiny Notes - Login</title>
  <!-- <link rel="stylesheet" href="../global.css"> -->
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/bc76cbffe4.js" crossorigin="anonymous"></script>

</head>

<body>

  <div class="interface">
    <header class="header"></header>
    <main class="main">

      <form id="note-form">
        <input type="text" placeholder="Your note" id="note-input">
        <input type="submit" id="note-input" value="Annotate">
      </form>

      <ul id="notes">

      </ul>

    </main>
    <footer class="footer"></footer>
  </div>

  <script type="text/javascript" src="script.js"></script>
</body>

</html>