<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tiny Notes - Login</title>
  <link rel="stylesheet" href="../global.css">
  <link rel="stylesheet" href="./profile.css">
  <script src="https://kit.fontawesome.com/bc76cbffe4.js" crossorigin="anonymous"></script>

</head>

<body>

  <div class="interface">

    <header class="header"></header>

    <main class="main">

      <div class="container">

        <div class="text-center profile">

          <div class="profile-image-container">
            <img class="profile-image"
              src="https://avatars0.githubusercontent.com/u/62727984?s=460&u=96d6db429e04b3f7d128ee0f21552b533738c36e&v=4">
          </div>
          <div class="profile-bio">
            <h2>Vitor Mezzalira</h2>
            <h3>Web Developer and compulsive gamer</h3>
          </div>
          <div class="profile-links">
            <a href="https://twitter.com/VitorMezzalira"><i class="fab fa-twitter fa-2x fa-lg"></i></a>
            <a href="https://www.instagram.com/vitomezz/"><i class="fab fa-instagram fa-2x fa-lg"></i></a>
          </div>
          <div class="profile-actions">
            <button class="button-secondary">Notes</button>
            <!-- <button class="button-secondary">More</button> -->
          </div>

        </div>

      </div>

    </main>

    <footer class="footer"></footer>

  </div>

</body>

</html>