.profile{
  position: relative;
  width: 50rem;
  padding: 2rem;
  background-color: #ffffff;

  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 'profile-container-1' 'profile-container-2'; */
}
/* .profile-container-1{
  grid-area: profile-container-1;
}
.profile-container-2{
  grid-area: profile-container-2;
} */
.profile{
  list-style-type: none;
}
.profile li{
  padding: 2.5rem 0;
}
.profile-image-container{
  margin: auto;
  width: 0;
  height: 7.5rem;
}
.profile-image{
  position: absolute;
  width: 15rem;
  top: -7.5rem;
  transform: translate(-7.5rem);

  border-radius: 50%;
  border: .5rem solid #ffffff;
}
.profile-bio h2{
  font: 3rem Helvetica;
}
.profile-bio h3{
  font: 2rem Helvetica;
}
.profile-links{
  font: 2rem Helvetica;
}
.profile-links i{
  color:  #ff8500;
  padding: 0 1rem;
}
.profile-actions{
  border-top: .1rem solid #000000;
}
.profile-actions .link{
  height: 6rem;
  padding: 0 5rem;
  border: .1rem;
  border-radius: 3rem;
  font: 2.5rem Helvetica, sans-serif;

  background-color: #ff8500;
  color: #ffffff;

  text-decoration: none;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;

  outline: none;
  cursor: pointer;
}